header {
    display: flex;
    // justify-content: left;
    align-items: center;
    width: 100%;
    padding: 68px 0 0 77px;
    position: absolute;
    z-index: 10;
    @include tab {
        padding: 30px 30px;
        justify-content: space-between;
        width: 100%;
    }
    @include sp {
        position: relative;
        padding: 25px 20px;
        height: 10px;
    }

}

.salon-logo {
    font-size: 3.8rem;
    letter-spacing: 3.8px;
    @include sp {
        font-size: 2.2rem;
        letter-spacing: 2.2px;
    }
}

.pc-navmenu {
    font-size: 1.8rem;
    width: 30%;
    letter-spacing: 1.8px;
}

nav {
    @include tab {
        display: none;
    }
    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #707070;
        }
        li {
            margin-left: 20px;
            &:first-child {
                color: black;
                text-decoration: underline;
                margin-left: none;
            }
        }
}

.ham {
    display: none;
    position: relative;
    cursor: pointer;

    @include tab {
        width: 25px;
        height: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        span {
            width: 100%;
            height: 1px;
            background-color: white;
            display: inline-block;
            &:last-child {
                width: 60%;
            }    
        }
        @include sp {
            span {
                background-color: black;
            }
        }
    }
}

.ham-btn.active {
    .ham-btn_parts {
        &__top {
            transform: translateY(10px) rotate(-45deg);
        }
        &__middle {
            opacity: 0;
        }
        &__bottom {
            transform: translateY(-4px) rotate(45deg);
        }
    }
}

// スライドメニュー
.ham-menu {
    display: none;
    @include tab {
        display: block;
        position: fixed;
        z-index: 11;
        top: 0;
        width: 100vw;
        height: 100vh;
        transform: translateX(100vw);
        transition: all .7s;
        background-color: white;
        .ham-ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 100vh;
        }
        .ham-list {
            // @include rem(16);
            list-style: none;
            text-align: center;
        }
        .ham-list + .ham-list {
            text-decoration: none;
            color: white;
        }
    }
}

//動き
.fadein {
    -webkit-transform: translateX(100%);
    transform: translateX(100%)
}

.linea,.lineb,.linec {
    background: ffffff;
}

.linea {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    top:13px
}

.lineb {
    opacity: 0;
}

.linec {
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
    top: 13px;
}



// .l-drawer {
//     z-index: 1;
//     &__checkbox {
//         display: none;
//     }
//     @include tab {
//         position: relative;
//         // inputのcheckboxは非表示
//         &__checkbox {
//             display: none;
//         }
//         // ハンバーガーメニュー
//         &__icon {
//             cursor: pointer;
//             display: block;
//             width: 25px;
//             height: 15px;
//             position: fixed;
//             right: 30px;
//             &-parts,
//             &-parts:before,
//             &-parts:after {
//                 background-color: #000;
//                 display: block;
//                 width: 25px;
//                 height: 2px;
//                 position: absolute;
//                 top: 0;
//                 right: 0;
//                 left: 0;
//                 bottom: 0;
//                 margin: auto;
//             }
//             &-parts:before,
//             &-parts:after {
//                 content: " ";
//             }
//             &-parts:before {
//                 top: 12px;
//             }
//             &-parts:after {
//                 top: -12px;
//             }
//         }
//         &__overlay {
//             background: #000;
//             opacity: 0;
//             // display: none; //opacity: 0;で非表示はできているため、display: none;は削除
//             pointer-events: none; //ポインタの動作全部無効化
//             width: 100%;
//             height: 100%;
//             position: fixed;
//             top: 0;
//             right: 0;
//         }
//         &__menu {
//             background: #ffffff;
//             color: #000;
//             max-width: 100%;
//             width: 500px;
//             height: 100vh;
//             overflow-y: auto; //スクロール
//             -webkit-overflow-scrolling: touch; //スクロール（SP)
//             position: fixed;
//             top: 0;
//             right: -500px;
//         }
//         &__icon {
//             z-index: 4;
//         }
//         &__menu {
//             z-index: 3;
//         }
//         &__overlay {
//             z-index: 2;
//         }

//         //チェックが入ったら（アイコンクリックしたら）
//         &__checkbox:checked ~ {
//             //ハンバーガーアイコン
//             .l-drawer__icon {
//                 .l-drawer__icon-parts {
//                     background: transparent;
//                 }
//                 .l-drawer__icon-parts:before {
//                     -webkit-transform: rotate(-45deg);
//                     transform: rotate(-45deg);
//                     top: 0;
//                 }
//                 .l-drawer__icon-parts:after {
//                     -webkit-transform: rotate(45deg);
//                     transform: rotate(45deg);
//                     top: 0;
//                 }
//             }
//             //メインエリアを暗くする
//             .l-drawer__overlay {
//                 opacity: 0.3;
//                 pointer-events: auto; //ポインタの動作デフォルトに戻す
//             }
//             //メニューを出す
//             .l-drawer__menu {
//                 right: 0;
//             }
//         }
//         //動きをスムーズに
//         &__icon-parts, &__icon-parts:before,
//         &__icon-parts:after, &__overlay, &__menu{
//             -webkit-transition: all 0.7s;
//             transition: all 0.7s;
//         }
//     }
// }